.home {
    width: 40%;
    text-align: center;
    background: #000;
    color: #fff;
    margin: auto;
}

.home #LF {
    font-size: 1.2em;
    border-bottom: 1px solid white;
    line-height: 4;
    font-family: 'Cantarell', sans-serif;
}

.home #num {
    font-family: sans-serif;
}

.home #num-no {
    font-size: 3em;
    text-decoration: underline;
    position: relative;
    bottom: 50px;
}

.home #num-13 {
    font-size: 8em;
}

.hello {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    padding: 20px;
}

.hello img {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.text-overlay #interest {
    font-family: 'Cantarell', sans-serif;
    font-size: 20px;
    color: #cbc23b;
}

.text-overlay #call-us {
    font-size: 20px;
}

.text-overlay #get {
    width: 30%;
    padding: 20px;
    text-align: center;
    margin: auto;
    border: 2px solid black;
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: black;
}

.box2 {
    background: #1252bb;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.box3 {
    background: #b6b600;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

